https://gpxuecknwwvxojljgylc.supabase.co
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdweHVlY2tud3d2eG9qbGpneWxjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEzNTEyMDgsImV4cCI6MjA2NjkyNzIwOH0.YTuyEi5LYmmomJrEBcvZZuRLWyOZV7NAWssFLjmlMnk
postgresql://postgres:[YOUR-PASSWORD]@db.gpxuecknwwvxojljgylc.supabase.co:5432/postgres
mongodb+srv://admin:<db_password>@nexium-mongo.xsbr0om.mongodb.net/?retryWrites=true&w=majority&appName=nexium-mongo